<h1>Contactos y Grupos</h1>

<br><h2>
<br><%= link_to 'Contactos', controller: 'contactos' %></br>

<br><%= link_to 'Grupos', controller: 'grupos' %></br>

<br><%= link_to 'Mensajes', controller: 'mensajes' %></br>
<br><br>

<br>http --- 
<%= link_to 'How to Save Multiple Checkbox Values to a Database in Rails', 'https://www.sitepoint.com/save-multiple-checkbox-values-database-rails/' %></br>


<!--